
<header>
  <div class="logo">Employee<span>Background</span></div>
</header>
<div class="nav-btn">Menu</div>
<div class="container">

  <div class="sidebar">
    <nav>
      <a>Arnav&nbsp;<span>Technosys</span></a>
      <ul>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/empdetailform">Employee Details Form</a></li>
        <li><a routerLink="/uploaddoc">Upload Documents</a></li>
        <li><a routerLink="/empdetail">Search Employee</a></li>
        <li><a routerLink="/profile">Profile</a></li>
      </ul>
    </nav>
  </div>

</div>

